/dist/*
/build/*
.local
.output.js
/node_modules/**

**/*.svg
**/*.sh

/public/*

.husky

pnpm-lock.yaml

README.md
.gitlab-ci.yml
tailwind.config.js
postcss.config.js
vitest.config.js
tsconfig.josn
tsconfig.node.josn
coverage
